*.obj 
*.exe 
*.pdb 
*.user 
*.aps 
*.pch 
*.vspscc 
*_i.c 
*_p.c 
*.ncb 
*.suo 
*.tlb 
*.tlh 
*.bak 
*.cache 
*.ilk 
*.log 
*.sbr 
*.scc 
*.o
*.xml
*.csv
*.txt
*.json
*.mps
*.lp
*.bat
[Bb]in 
obj/
data/
_ReSharper*/ 
[Tt]est[Rr]esult* 
[Bb]uild[Ll]og.* 
*.[Pp]ublish.xml 
Scenarios*/
Debug*/
Release*/
AWBP.ncb
AWBP.suo
.vs
.vscode
.idea/workspace.xml